[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]


[packages]

psycopg2 = "*"
configparser = "*"
tkinter = "*"
csv = "*"
tkcalendar = "*"


[requires]

python_version = "3.7"